@page "/flights"
@using TravelessApp.Data


<div class="container-fluid">
      <div class="row my-2">
        <h2 class="text-center">Flight Finder</h2>
      </div>
      <div class="row">
        <form class="d-flex flex-row my-1">
          <div class="col mx-1">
            <label for="from" class="form-label">From:</label>
            <select class="form-select form-select-sm" id="from" required @bind="origin">
              <option disabled selected value="">Select an option</option>
              @foreach (var airport in airports)
              {
                <option value="@airport.Code">@airport.Code</option>
              }
            </select>
          </div>
          <div class="col mx-1">
            <label for="to" class="form-label">To:</label>
            <select class="form-select form-select-sm" id="to" required  @bind="destination">
              <option disabled selected value="">Select an option</option>
              @foreach (var airport in airports)
              {
                <option value="@airport.Code">@airport.Code</option>
              }
            </select>
          </div>
          <div class="col mx-1">
            <label for="day" class="form-label">Day:</label>
            <select class="form-select form-select-sm" id="day" required  @bind="departureDate">
              <option disabled selected value="">Select an option</option>
              @foreach (var day in days)
              {
                <option value="@day">@day</option>
              }
            </select>
          </div>
          <div class="col align-self-end">
            <button type="button" class="btn btn-primary btn-sm w-100 btn-block" onclick="@SearchFlights">
              Find flights
            </button>
          </div>
        </form>
      </div>

      <!-- Flights result -->

      <div>
        <div class="row my-2">
            <h2 class="text-center">Flights</h2>
          </div>
        <div class="col">
          <select class="form-select form-select-sm" @bind="chosenFlightCode">
            <option readonly="default">Available flights</option>
            @foreach (var flight in matchingFlights)
            {
              <option value="@flight.FlightCode">@flight</option>
            }
          </select>
        </div>
      </div>

      <!-- Reservation form -->

      <div class="row my-2">
        <h2 class="text-center">Reserve</h2>
      </div>
<div class="row my-y">
  <form class="d-flex flex-column my-1">
    <div class="row m-1">
      <label for="flightcode" class="input-group-text input-group-sm form-label">Flight Code:</label>
      <input type="text" value="@chosenFlight?.FlightCode" class="form-control" id="flightcode" readonly>
    </div>
    <div class="row m-1">
      <label for="airline" class="input-group-text input-group-sm form-label">Airline:</label>
      <input type="text" value="@chosenFlight?.Airline" class="form-control" id="airline" readonly placeholder="Airline">
    </div>
    <div class="row m-1">
      <label for="reserveday" class="input-group-text input-group-sm form-label">Day:</label>
      <input type="text" value="@chosenFlight?.Day" class="form-control" id="reserveday" readonly placeholder="Day">
    </div>
    <div class="row m-1">
      <label for="time" class="input-group-text input-group-sm form-label">Time:</label>
      <input type="text" value="@chosenFlight?.Time" class="form-control" id="time" readonly placeholder="Time">
    </div>
    <div class="row m-1">
      <label for="cost" class="input-group-text input-group-sm form-label">Cost:</label>
      <input type="text" value="@chosenFlight?.Cost" class="form-control" id="cost" readonly placeholder="Cost">
    </div>
    <div class="row m-1">
      <label for="name" class="input-group-text input-group-sm form-label">Name:</label>
      <input type="text" placeholder="Name" class="form-control" id="name" @bind="name" >
    </div>
    <div class="row m-1">
      <label for="citizenship" class="input-group-text input-group-sm form-label">Citizenship:</label>
      <input type="text" placeholder="Citizenship" class="form-control" id="citizenship" @bind="citizenship">
    </div>
  </form>
  <div class="row m-1">
    <button onclick="@MakeReservation" class="btn btn-primary btn-sm w-100 btn-block">Reserve</button>
    <div>Your reservation code: @reservationCode</div>
  </div>
</div>
</div>

@code {

  string origin;
  string destination;
  string departureDate;
  string chosenFlightCode;
  string name;
  string citizenship;
  string reservationCode;
  
  
  FlightManager flightManager = new ();
  ReservationManager reservationManager = new();
  List<Flight> flights = FlightManager.Flights;
  List<Airport> airports = FlightManager.Airports;
  List<Reservation> reservations = ReservationManager.Reservations;
  List<Flight> matchingFlights = new();
  
  string[] days = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
  
  Flight chosenFlight => ChosenFlight();
  
  void SearchFlights()
  {
    matchingFlights.Clear();
    matchingFlights.AddRange(flights
      .Where(flight => flight.From == origin && !string.IsNullOrEmpty(origin) && 
                       flight.To == destination && !string.IsNullOrEmpty((destination)) && 
                       flight.Day == departureDate && !string.IsNullOrEmpty(departureDate))
      .ToList());
  }

  Flight ChosenFlight()
  {
    return flights.FirstOrDefault(flight => flight.FlightCode == chosenFlightCode);
  }


  void MakeReservation()
  {
    if (citizenship == null && name == null)
    {
      App.Current.MainPage.DisplayAlert("Missing fields", "Please fill all the fields before making a reservation.", "Close");
    } else if (chosenFlightCode == null) 
    {
      App.Current.MainPage.DisplayAlert("No Flight chosen", "Please select a flight before making a reservation.", "Close");
    } else if (chosenFlight.AvailableSits == 0)
    {
      App.Current.MainPage.DisplayAlert("No available seats", "Please select a different flight", "Close");
    }
    else
    {
      reservationCode = ReservationManager.GenerateReservationCode();
      var reservation = ReservationManager.CreateNewReservation(chosenFlight, name, citizenship, reservationCode);
      reservations.Add(reservation);
      ReservationManager.WriteOnReservationFile();
    }
    name = null;
    citizenship = null;
  }

}